<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LOG IN</title>
    <!-- Fontawesome CSS CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
</head>


<body>
    <div class="container">
        <!-- login Form Start -->
        <div class="row justify-content-center align-items-center " style="height: 100vh;" id="register-box">
            <div class="col-lg-9 my-auto myShadow">
                <div class="row shadow border">
                    <div class="col-lg-6 d-flex flex-column justify-content-center  img-block p-0">
                        <img src="./assets/dog.jpg" alt="image">
                    </div>

                    <div class="col-lg-6 bg-white p-4">
                        <h1 class="text-center font-weight-bold text-primary">Sign in</h1>
                        <hr class="my-3" />
                        <form action="" method="" class="px-3" id="login-form">
                            <div class="input-group input-group-lg form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text rounded-0"><i
                                            class="far fa-envelope fa-lg fa-fw"></i></span>
                                </div>
                                <input type="email" id="email" name="email" class="form-control rounded-0"
                                    placeholder="E-Mail" required />
                            </div>
                            <div class="input-group input-group-lg form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text rounded-0"><i
                                            class="fas fa-key fa-lg fa-fw"></i></span>
                                </div>
                                <input type="password" id="password" name="password" class="form-control rounded-0"
                                    minlength="5" placeholder="Password" required autocomplete="off" />
                            </div>
                            <div class="form-group clearfix">
                                <div class="custom-control custom-checkbox float-left">
                                    <input type="checkbox" class="custom-control-input" id="customCheck" name="rem" />
                                    <label class="custom-control-label" for="customCheck">Remember me</label>
                                </div>
                                <div class="forgot float-right">
                                    <a href="#" id="forgot-link">Forgot Password?</a>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="submit" id="login-btn" value="Sign In" (click)="gotohome('home')"
                                    class="btn btn-primary btn-lg btn-block myBtn" />
                                <!-- <button
                                    class="btn btn-outline-light btn-lg align-self-center font-weight-bolder mt-4 myLinkBtn"
                                    id="register-link">Sign Up</button> -->
                            </div>
                            <div class="form-group clearfix row  ">
                                <div class="col d-flex justify-content-center">
                                    <label class="">New to Petcarestore?</label>
                                    <a href="#" id="" class="font-weight-bold myreg">Create Account</a>
                                </div>
                            </div>
                        </form>
                    </div>


                </div>
            </div>
        </div>
    </div>
</body>

</html>


<!-- <router-outlet></router-outlet> -->