<app-home-navbar></app-home-navbar>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="row justify-content-center" style="background: #F6C3C3;">
                <div class="col-11 mt-5">

                    <div class="row justify-content-center" style="max-height: auto;">
                        <div class="col-12 col-md-6 col-lg-6">
                            <div class="row">
                                <div class="col-12">
                                    <img [src]=SelectedPet.img alt=""
                                        style="height:90%;width:70%;margin-top: 20px;box-shadow: 0 4px 8px 0 rgb(122, 122, 122), 0 3px 10px 0 rgba(8, 8, 8,0.7);">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 ">
                            <div class="row">
                                <div class="col-12 mt-3">
                                    <div class="row mb-2" style="height: 50px;" forname>
                                        <div id="name" class="col-10 col-md-8 col-lg-8">{{SelectedPet.name}}</div>
                                    </div>
                                    <div class="row mb-2" style="height: 50px;" forname>
                                        <div id="price" class="col-10 col-md-8 col-lg-8">&#8377; {{SelectedPet.price}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10 col-md-8 col-lg-8">
                                            <div class="form-group">
                                                <label class="" for="">Pet Message</label>
                                                <input [formControl]="msg" class="form-control " type="text" name=""
                                                    id="" placeholder="Enter message on product">
                                                <label id="add" class="" for="">Address</label>
                                                <textarea [formControl]="add" class="form-control "
                                                    placeholder="Enter address..." id="" rows="3" cols="40"
                                                    style="resize: none;"></textarea>
                                            </div>

                                        </div>

                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-8">
                                            <button (click)="buyNow()"
                                                class="btn btn-danger col-12 col-md-4 mr-4 mt-2">Buy Now</button>
                                            <button (click)="shopeMore()"
                                                class="btn btn-success col-12 col-md-6 mt-2">Continue Shoppping</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>