<!-- <div class="wrapper">
    <div class="contact-from">
        <div class="input-fields">
            <input type="text" class="input" placeholder="name">
            <input type="text" class="input" placeholder="email address">
            <input type="text" class="input" placeholder="phone">
            <input type="text" class="input" placeholder="suject">
        </div>
        <div class="msg">
            <textarea placeholder="message"></textarea>
            <div class="btn">SEND</div>
        </div>
    </div>
</div>
 -->
