<div class="fluid-container">

    <app-home-navbar></app-home-navbar>

    <ngb-carousel *ngIf="images">
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="images[0]" alt="Random first slide">
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="images[1]" alt="Random second slide">
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="images[2]" alt="Random third slide">
            </div>
            <!-- <div class="carousel-caption">
                <button>click</button>
            </div> -->
        </ng-template>
    </ngb-carousel>

    <div class="row">
        <div class="col">
            <div class="row justify-content-center">
                <div class="col-12  mt-5" style="font-family: Poppins;">
                    <h6 style="text-align:center;font-size: calc(80% +  2.2vw);font-family: Pacifico;">pet Care Products
                    </h6>
                    <div class="row justify-content-center">

                        <div class="col-4 col-md-3 mt-3 ml-4 mr-4 mb-5">
                            <div (click)="toOrder1()" href="#order"
                                style="background-color:white; height: 295px; width: 100%;   box-shadow: 0 4px 8px 0 rgba(150, 3, 3, 0.5), 0 3px 5px 0 rgba(3, 85, 133, 0.8);">
                                <img id="img" #img src="assets/product/1.jpg"
                                    style="border-radius:10px;height: 230px;width: 92%;margin:10px" alt="" srcset="">
                                <div #one style="font-size: calc(70% + 1vw);text-align:center ;" id="one"> Salmon Oil
                                </div>

                            </div>

                        </div>
                        <div class="col-4 col-md-3 mt-3  ml-4 mr-4 mb-5 ">
                            <div (click)="toOrder2()"
                                style="background-color:white;   height: 295px;  box-shadow: 0 4px 8px 0 rgba(150, 3, 3, 0.5), 0 3px 5px 0 rgba(3, 85, 133, 0.8);">
                                <img id="img1" src="assets/product/2.jpg"
                                    style="border-radius:10px;height: 230px;width: 92%;margin:10px" alt="" srcset="">
                                <div id="two" style="font-size: calc(70% + 1vw);text-align:center ;">karma pet food
                                </div>

                            </div>

                        </div>
                        <div class="col-4 col-md-3 mt-3  ml-4 mr-4 mb-5 ">
                            <div (click)="toOrder3()"
                                style="background-color:white;   height: 295px;  box-shadow: 0 4px 8px 0 rgba(150, 3, 3, 0.5), 0 3px 5px 0 rgba(3, 85, 133, 0.8);">
                                <img src="assets/product/3.jpg"
                                    style="border-radius:10px;height: 230px;width: 92%;margin:10px" alt="" srcset="">
                                <div id="three" style="font-size: calc(70% + 1vw);text-align:center ;">simple holding
                                    belt</div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">

                        <div class="col-12 col-md-3 mt-3  ml-4 mr-4 mt-3 mb-5">
                            <div (click)="toOrder4()"
                                style="background-color:white;  height: 295px;    box-shadow: 0 4px 8px 0 rgba(150, 3, 3, 0.5), 0 3px 5px 0 rgba(3, 85, 133, 0.8);">
                                <img src="assets/product/4.jpg"
                                    style="border-radius:10px;height: 230px;width: 92%;margin:10px" alt="" srcset="">
                                <div id="four" style="font-size: calc(70% + 1vw);text-align:center ;">Mother & Baby Dog
                                    Food</div>

                            </div>

                        </div>
                        <div class="col-12 col-md-3 mt-3  ml-4 mr-4 mt-3 mb-5">
                            <div (click)="toOrder5()"
                                style="background-color:white;   height: 295px;  box-shadow: 0 4px 8px 0 rgba(150, 3, 3, 0.5), 0 3px 5px 0 rgba(3, 85, 133, 0.8);">
                                <img src="assets/product/5.jpg"
                                    style="border-radius:10px;height: 230px;width: 92%;margin:10px" alt="" srcset="">
                                <div id="five" style="font-size: calc(70% + 1vw);text-align:center ;">Orijen Senior Dog
                                    Food
                                </div>

                            </div>

                        </div>
                        <div class="col-12 col-md-3 mt-3  ml-4 mr-4 mt-3 mb-5">
                            <div (click)="toOrder6()"
                                style="background-color:white;   height: 295px;  box-shadow: 0 4px 8px 0 rgba(150, 3, 3, 0.5), 0 3px 5px 0 rgba(3, 85, 133, 0.8);">
                                <img src="assets/product/6.jpg"
                                    style="border-radius:10px;height: 230px;width: 92%;margin:10px" alt="" srcset="">
                                <div id="six" style="font-size: calc(70% + 1vw);text-align:center ;">Royal Canin Boxer
                                    Dog Food
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">

                        <div class="col-12 col-md-3 mt-3  ml-4 mr-4 mt-3 mb-5">
                            <div (click)="toOrder7()"
                                style="background-color:white;  height: 295px; width: 100%;   box-shadow: 0 4px 8px 0 rgba(150, 3, 3, 0.5), 0 3px 5px 0 rgba(3, 85, 133, 0.8);">
                                <img src="assets/product/T1.jpg"
                                    style="border-radius:10px;height: 230px;width: 92%;margin:10px" alt="" srcset="">
                                <div id="seven" style="font-size: calc(70% + 1vw);text-align:center ;">Dog Boneshape Toy
                                </div>

                            </div>

                        </div>
                        <div class="col-12 col-md-3 mt-3  ml-4 mr-4 mt-3 mb-5">
                            <div (click)="toOrder8()"
                                style="background-color:white;   height: 295px;  box-shadow: 0 4px 8px 0 rgba(150, 3, 3, 0.5), 0 3px 5px 0 rgba(3, 85, 133, 0.8);">
                                <img src="assets/product/A1.jpg"
                                    style="border-radius:10px;height: 230px;width: 92%;margin:10px" alt="" srcset="">
                                <div id="eight" style="font-size: calc(70% + 1vw);text-align:center ;">Dog Shampoo</div>

                            </div>

                        </div>
                        <div class="col-12 col-md-3 mt-3  ml-4 mr-4 mt-3 mb-5">
                            <div (click)="toOrder9()"
                                style="background-color:white;   height: 295px;  box-shadow: 0 4px 8px 0 rgba(150, 3, 3, 0.5), 0 3px 5px 0 rgba(3, 85, 133, 0.8);">
                                <img src="assets/product/T2.jpg"
                                    style="border-radius:10px;height: 230px;width: 92%;margin:10px" alt="" srcset="">
                                <div id="nine" style="font-size: calc(70% + 1vw);text-align:center ;">spike ball
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


</div>