<div class="fluid-container">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark  mb-3" style="color: white;">
        <a class="navbar-brand" [routerLink]="'.'" style="font-size: 30px; color: gold;">PetCareStore</a>

        <!-- Step 3: Toggle the value of the property when the toggler button is clicked. -->
        <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
            &#9776;
        </button>

        <!-- Step 2: Add the ngbCollapse directive to the element below. -->
        <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto ">
                <li class=" nav-item input-group-prepend active m-2">
                    <fa-icon [icon]="faShoppingCart" class="text-warning"></fa-icon>
                    <a class="nav-link" routerLink="/addItem" (click)="isMenuCollapsed = true"> My cart</a>


                    <!-- <input type="button" value="My Cart"  [disabled]="!islogin" class="btn btn-outline-info"> -->
                </li>
                <li class="nav-item active m-2">
                    <!-- <a class="nav-link" [routerLink]="nav[4]" (click)="isMenuCollapsed = true"
                        style="color: white;">Logout</a> -->
                    <input type="button" value="Logout" (click)="LogoutHere()" class="btn btn-outline-info">
                </li>

            </ul>
        </div>
    </nav>

    <!-- <div class="container text-center headerset ">
            <h2>Welcome To Our Store</h2>
            <h1>It's nice to meet you</h1>
            <button class="btn btn-danger text-white btn-lg">Contact us</button>
        </div> -->
    <!-- </div> -->

    <ngb-carousel *ngIf="images">
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="images[0]" alt="Random first slide">
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="images[1]" alt="Random second slide">
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="images[2]" alt="Random third slide">
            </div>
            <!-- <div class="carousel-caption">
                <button>click</button>
            </div> -->
        </ng-template>
    </ngb-carousel>

    <div class="row">
        <div class="col">
            <div class="row justify-content-center">
                <div class="col-12  mt-5" style="font-family: Poppins;">
                    <h6 style="text-align:center;font-size: calc(80% +  2.2vw);font-family: Pacifico;">Dog Food</h6>
                    <div class="row justify-content-center">

                        <div class="col-4 col-md-3 mt-3 ml-4 mr-4 mb-5">
                            <div (click)="toOrder1()" href="#order"
                                style="background-color:white; height: 295px; width: 100%;   box-shadow: 0 4px 8px 0 rgba(150, 3, 3, 0.5), 0 3px 5px 0 rgba(3, 85, 133, 0.8);">
                                <img id="img" #img src="assets/product/1.jpg"
                                    style="border-radius:10px;height: 230px;width: 92%;margin:10px" alt="" srcset="">
                                <div #one style="font-size: calc(70% + 1vw);text-align:center ;" id="one"> Salmon Oil
                                </div>

                            </div>

                        </div>
                        <div class="col-4 col-md-3 mt-3  ml-4 mr-4 mb-5 ">
                            <div (click)="toOrder2()"
                                style="background-color:white;   height: 295px;  box-shadow: 0 4px 8px 0 rgba(150, 3, 3, 0.5), 0 3px 5px 0 rgba(3, 85, 133, 0.8);">
                                <img id="img1" src="assets/product/2.jpg"
                                    style="border-radius:10px;height: 230px;width: 92%;margin:10px" alt="" srcset="">
                                <div id="two" style="font-size: calc(70% + 1vw);text-align:center ;">karma pet food
                                </div>

                            </div>

                        </div>
                        <div class="col-4 col-md-3 mt-3  ml-4 mr-4 mb-5 ">
                            <div (click)="toOrder3()"
                                style="background-color:white;   height: 295px;  box-shadow: 0 4px 8px 0 rgba(150, 3, 3, 0.5), 0 3px 5px 0 rgba(3, 85, 133, 0.8);">
                                <img src="assets/product/3.jpg"
                                    style="border-radius:10px;height: 230px;width: 92%;margin:10px" alt="" srcset="">
                                <div id="three" style="font-size: calc(70% + 1vw);text-align:center ;">simple holding
                                    belt</div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">

                        <div class="col-12 col-md-3 mt-3  ml-4 mr-4 mt-3 mb-5">
                            <div (click)="toOrder4()"
                                style="background-color:white;  height: 295px;    box-shadow: 0 4px 8px 0 rgba(150, 3, 3, 0.5), 0 3px 5px 0 rgba(3, 85, 133, 0.8);">
                                <img src="assets/product/4.jpg"
                                    style="border-radius:10px;height: 230px;width: 92%;margin:10px" alt="" srcset="">
                                <div id="four" style="font-size: calc(70% + 1vw);text-align:center ;">Mother & Baby Dog
                                    Food</div>

                            </div>

                        </div>
                        <div class="col-12 col-md-3 mt-3  ml-4 mr-4 mt-3 mb-5">
                            <div (click)="toOrder5()"
                                style="background-color:white;   height: 295px;  box-shadow: 0 4px 8px 0 rgba(150, 3, 3, 0.5), 0 3px 5px 0 rgba(3, 85, 133, 0.8);">
                                <img src="assets/product/5.jpg"
                                    style="border-radius:10px;height: 230px;width: 92%;margin:10px" alt="" srcset="">
                                <div id="five" style="font-size: calc(70% + 1vw);text-align:center ;">Orijen Senior Dog
                                    Food (Grain-Free)
                                </div>

                            </div>

                        </div>
                        <div class="col-12 col-md-3 mt-3  ml-4 mr-4 mt-3 mb-5">
                            <div (click)="toOrder6()"
                                style="background-color:white;   height: 295px;  box-shadow: 0 4px 8px 0 rgba(150, 3, 3, 0.5), 0 3px 5px 0 rgba(3, 85, 133, 0.8);">
                                <img src="assets/product/6.jpg"
                                    style="border-radius:10px;height: 230px;width: 92%;margin:10px" alt="" srcset="">
                                <div id="six" style="font-size: calc(70% + 1vw);text-align:center ;">Royal Canin Boxer
                                    Adult Dog Food
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="row justify-content-center">
                        
                        <div class="col-12 col-md-3 mt-3  ml-4 mr-4 mt-3 mb-5"  >
                            <div (click)="toOrder7()" style="background-color:white;  height: 295px; width: 100%;   box-shadow: 0 4px 8px 0 rgba(150, 3, 3, 0.5), 0 3px 5px 0 rgba(3, 85, 133, 0.8);">
                                <img src="assets/Images/choco/7.jpg" style="border-radius:10px;height: 230px;width: 92%;margin:10px" alt="" srcset="">
                                 <div id="seven" style="font-size: calc(70% + 1vw);text-align:center ;">Choco-Thrill</div>
            
                            </div>
                            
                        </div>
                        <div class="col-12 col-md-3 mt-3  ml-4 mr-4 mt-3 mb-5" >
                            <div (click)="toOrder8()" style="background-color:white;   height: 295px;  box-shadow: 0 4px 8px 0 rgba(150, 3, 3, 0.5), 0 3px 5px 0 rgba(3, 85, 133, 0.8);">
                                <img src="assets/Images/choco/8.jpg" style="border-radius:10px;height: 230px;width: 92%;margin:10px" alt="" srcset="">
                                 <div id="eight" style="font-size: calc(70% + 1vw);text-align:center ;">The Chocolateria</div>
            
                            </div>
                            
                        </div>
                        <div class="col-12 col-md-3 mt-3  ml-4 mr-4 mt-3 mb-5" >
                            <div (click)="toOrder9()" style="background-color:white;   height: 295px;  box-shadow: 0 4px 8px 0 rgba(150, 3, 3, 0.5), 0 3px 5px 0 rgba(3, 85, 133, 0.8);">
                                <img src="assets/Images/choco/9.jpg" style="border-radius:10px;height: 230px;width: 92%;margin:10px" alt="" srcset="">
                                 <div id="nine" style="font-size: calc(70% + 1vw);text-align:center ;">Delectable Truffle
                                </div>
                            </div>
                        </div>                                  
                    </div>
                    <div class="row justify-content-center">
                        
                        <div class="col-12 col-md-3 mt-3  ml-4 mr-4 mt-3 mb-5"  >
                            <div (click)="toOrder10()" style="background-color:white;  height: 295px; width: 100%;   box-shadow: 0 4px 8px 0 rgba(150, 3, 3, 0.5), 0 3px 5px 0 rgba(3, 85, 133, 0.8);">
                                <img src="assets/Images/choco/10.jpg" style="border-radius:10px;height: 230px;width: 92%;margin:10px" alt="" srcset="">
                                 <div id="ten" style="font-size: calc(70% + 1vw);text-align:center ;">Chocolate Orange Delight</div>
            
                            </div>
                            
                        </div>
                        <div class="col-12 col-md-3 mt-3  ml-4 mr-4 mt-3 mb-5" >
                            <div (click)="toOrder11()" style="background-color:white;   height: 295px;  box-shadow: 0 4px 8px 0 rgba(150, 3, 3, 0.5), 0 3px 5px 0 rgba(3, 85, 133, 0.8);">
                                <img src="assets/Images/choco/11.jpg" style="border-radius:10px;height: 230px;width: 92%;margin:10px" alt="" srcset="">
                                 <div id="eleven" style="font-size: calc(70% + 1vw);text-align:center ;">Choco Tranquiizer
                                </div>
            
                            </div>
                            
                        </div>
                        <div class="col-12 col-md-3 mt-3  ml-4 mr-4 mt-3 mb-5" >
                            <div (click)="toOrder12()" style="background-color:white;   height: 295px;  box-shadow: 0 4px 8px 0 rgba(150, 3, 3, 0.5), 0 3px 5px 0 rgba(3, 85, 133, 0.8);">
                                <img src="assets/Images/choco/12.jpg" style="border-radius:10px;height: 230px;width: 92%;margin:10px" alt="" srcset="">
                                 <div id="twele" style="font-size: calc(70% + 1vw);text-align:center ;">Chocoholique Dream

                                </div>
                            </div>
                        </div>                                  
                    </div>
                    <div class="row justify-content-center">
                        
                        <div class="col-12 col-md-3 mt-3  ml-4 mr-4 mt-3 mb-5"  >
                            <div (click)="toOrder13()" style="background-color:white;  height: 295px; width: 100%;   box-shadow: 0 4px 8px 0 rgba(150, 3, 3, 0.5), 0 3px 5px 0 rgba(3, 85, 133, 0.8);">
                                <img src="assets/Images/choco/13.jpg" style="border-radius:10px;height: 230px;width: 92%;margin:10px" alt="" srcset="">
                                 <div id="thirteen" style="font-size: calc(70% + 1vw);text-align:center ;">German Gateau
                                </div>
            
                            </div>
                            
                        </div>
                        <div class="col-12 col-md-3 mt-3  ml-4 mr-4 mt-3 mb-5" >
                            <div (click)="toOrder14()" style="background-color:white;   height: 295px;  box-shadow: 0 4px 8px 0 rgba(150, 3, 3, 0.5), 0 3px 5px 0 rgba(3, 85, 133, 0.8);">
                                <img src="assets/Images/choco/14.jpg" style="border-radius:10px;height: 230px;width: 92%;margin:10px" alt="" srcset="">
                                 <div id="forteen" style="font-size: calc(70% + 1vw);text-align:center ;">Sweetest Appeal
                                </div>
            
                            </div>
                            
                        </div>
                        <div class="col-12 col-md-3 mt-3  ml-4 mr-4 mt-3 mb-5" >
                            <div (click)="toOrder15()" style="background-color:white;   height: 295px;  box-shadow: 0 4px 8px 0 rgba(150, 3, 3, 0.5), 0 3px 5px 0 rgba(3, 85, 133, 0.8);">
                                <img src="assets/Images/choco/15.jpg" style="border-radius:10px;height: 230px;width: 92%;margin:10px" alt="" srcset="">
                                 <div id="fifeteen" style="font-size: calc(70% + 1vw);text-align:center ;">Amore Mio

                                </div>
                            </div>
                        </div>                                  
                    </div> -->

                </div>
            </div>
        </div>
    </div>


</div>