<div class="fluid-container">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark  mb-3" style="color: white;">
        <a class="navbar-brand" [routerLink]="'.'" style="font-size: 30px; color: gold;">PetCareStore</a>

        <!-- Step 3: Toggle the value of the property when the toggler button is clicked. -->
        <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
            &#9776;
        </button>

        <!-- Step 2: Add the ngbCollapse directive to the element below. -->
        <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto ">
                <li class="nav-item active m-2">
                    <!-- Step 4: Close the menu when a link is clicked. -->
                    <a class="nav-link" [routerLink]="nav[0]" (click)="isMenuCollapsed = true">Contact</a>
                </li>
                <li class="nav-item active m-2">
                    <a class="nav-link" [routerLink]="nav[1]" (click)="isMenuCollapsed = true">Login</a>
                </li>
                <li class="nav-item active m-2">
                    <a class="nav-link" [routerLink]="nav[2]" (click)="isMenuCollapsed = true">Register</a>
                </li>
                <li class=" nav-item input-group-prepend active m-2">
                    <fa-icon [icon]="faShoppingCart" class="text-warning"></fa-icon> 
                     <a class="nav-link" [routerLink]="nav[3]" (click)="isMenuCollapsed = true" > My cart</a>
                
                    
                    <!-- <input type="button" value="My Cart"  [disabled]="!islogin" class="btn btn-outline-info"> -->
                </li>
                <li class="nav-item active m-2">
                    <!-- <a class="nav-link" [routerLink]="nav[4]" (click)="isMenuCollapsed = true"
                        style="color: white;">Logout</a> -->
                    <input type="button" value="Logout" (click)="LogoutHere()" class="btn btn-outline-info">
                </li>

            </ul>
        </div>
    </nav>

    <!-- <div class="container text-center headerset ">
            <h2>Welcome To Our Store</h2>
            <h1>It's nice to meet you</h1>
            <button class="btn btn-danger text-white btn-lg">Contact us</button>
        </div> -->
    <!-- </div> -->

    <ngb-carousel *ngIf="images">
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="images[0]" alt="Random first slide">
            </div>
            <!-- <div class="carousel-caption ">
                <h3>First slide label</h3>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div> -->
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="images[1]" alt="Random second slide">
            </div>
            <!-- <div class="carousel-caption">
                <h3>Second slide label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div> -->
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="images[2]" alt="Random third slide">
            </div>

            <!-- <div class="carousel-caption">
                <button>click</button>
            </div> -->
        </ng-template>
    </ngb-carousel>




</div>